<app-top-bar></app-top-bar>

<div *ngIf="logged">
  <button (click)="logout()">Logout</button>
</div>


<div *ngIf="router.url === '/not-found'">
  <app-not-found></app-not-found>
</div>

<div *ngIf="router.url !== '/not-found'">
  <div *ngIf="!logged">
    <h1>Login form</h1>
    <p>Username: <input type="text" [(ngModel)]="username"></p>
    <p>Password: <input type="password" [(ngModel)]="password"></p>
    <button (click)="login()">Login</button>
  </div>
  
  <div *ngIf="logged">
    <router-outlet></router-outlet>
  </div>
</div>